/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin-top: 50px;
  color: #333;
}

/* Brand styles */

#output {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 3rem;
}

.brand-card {
  width: 300px;
  margin-top: 1rem;
  outline: 1px solid black;
  padding: 1rem;
  margin: 0 auto;
  background-color: rgb(243, 216, 180);
}

.brand-card .brand-name {
  margin-bottom: 1rem;
}

.brand-card ul {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  #output {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  #output {
    grid-template-columns: repeat(3, 1fr);
  }
}
